.ant-card-meta-title {
  margin-bottom: 0 !important;
}

.ant-steps-item-finish {
  .ant-steps-item-title {
    color: $white !important;
  }
}

.ant-steps-item-process {
  .ant-steps-item-title {
    color: $white !important;
  }
}

.ant-steps-item-wait {
  .ant-steps-item-title {
    color: lighten($primary, 25%) !important;
  }
}

.ant-table-thead {
  span{
    color: $primary !important;
  }
}

.ant-checkbox-wrapper {
  span{
    color: $primary !important;
  }
}

.ant-table-body {
  td {
    color: $primary !important;
  }
}

.ant-alert-description {
  color: rgba(#000, 0.6) !important;
}

.ant-alert-message {
  font-weight: bold;
}

.ant-alert-info {
  background-color: lighten($primary, 85%) !important;
  border-color: lighten($primary, 60%) !important;
  
  .anticon-info-circle-o {
    color: lighten($primary, 20%) !important;
  }
}