.background {
  &.primary {
    background-color: $primary;
  }
  
  &.secondary {
    background-color: $secondary;
  }
  
  &.clear {
    background-color: #fff;
  }
}

.text {
  &.primary {
    color: $primary;
  }
  
  &.secondary {
    color: $secondary;
  }
  
  &.meta {
    color: lighten($secondary, 40%);
  }
}

.dark-mode {
  background-color: $primary;
  
  * {
    color: lighten($primary, 90%);
  }
}