.fsrExport {
  display: inline-block;
  max-width: 100%;
  overflow: scroll;
  font-family: "Arial", sans-serif;

  .document {
    background-color: white;
    font-size: 9pt;

    width: 8.5in;
    padding: 0.7in 0.5in;
    position: relative;
    
    * {
      color: black !important;
    }
    
    .bold { font-weight: bold; }
    .center {
      text-align: center;
      
      & > * { margin: auto; }
    }
    .right { text-align: right; }
    header { font-size: 11pt; }
    label { margin-right: 0.5em; }
    
    tr, td, th {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }
    
    td, th { padding: 5px; }

    th {
      line-height: 1;
    }
    
    .section-header {
      margin-top: 0.5em;
    }

    .highlight {
      &.orange { background: #FF9900; }
      &.blue { background: #99CCCC; }
    }
  }
  
  .form-float {
    position: absolute;
    top: 0.7in;
    left: 0.5in;
    font-size: 9pt;
  }
  
  .grid {
    display: flex;
    width: 100%;
  }
  
  .flex-mid {
    display: flex;
  }
  
  .field-line {
    text-align: center;
    flex: 1;
    
    &:after {
      display: block;
      border-top: 1px solid black;
      padding: 0 3em;
      
      content: attr(data-label);
    }
  }
  
  .margin1 {
    &.left { margin-left: 0.5em; }
    &.right { margin-right: 0.5em; }
  }
}