img {
  &.crop {
    object-fit: cover;
  }
}

.profileIcon {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 1px solid #D7C7D0;
  padding: 3px;
  margin: auto;
  
  & > * {
    height: 112px;
    width: 112px;
    border-radius: 50%;
  }

  & > img {
    object-fit: cover;
  }
  
  &:hover > .overlay {
    display: flex;
  }
  
  & > .overlay {
    position: absolute;
    top: 3;
    left: 3;
    background-color: rgba($primary, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
  }
}