.fullpage {
  height: 100vh;
}

.content-body {
  display: flex;
  justify-content: center;
  
  & > * {
    width: 95%;
    margin: auto;
  }
}

.container {
  margin: auto;

  &.medium {
    width: 90%;
  }
}

.center {
  text-align: center;
}

.pagination {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  color: $white;
}

.gridTiles {
  & > * {
    margin-bottom: 16px;
  }
}

.ant-pagination-prev { margin-right: 28px !important; }
.ant-pagination-next { margin-left: 20px !important; }

.ant-pagination-prev,
.ant-pagination-next {
  & > * {
    background-color: $primary !important;
    color: $white !important;
  }
}

.ant-pagination-item {
  background-color: $primary !important;
  border: none !important;
  
  & > a {
    color: $white !important;
  }
  
  &.ant-pagination-item-active {
    background-color: lighten($primary, 30%) !important;
  }
}