.fullpage {
  height: 100vh;
}

.content-body {
  display: flex;
  justify-content: center;
  
  & > * {
    width: 95%;
    margin: auto;
  }
}

.container {
  margin: auto;

  &.medium {
    width: 90%;
  }
}

.center {
  text-align: center;
}

.pagination {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  color: $white;
}

.gridTiles {
  & > * {
    margin-bottom: 16px;
  }
}

// ANT OVERRIDES
.ant-pagination-prev { margin-right: 28px !important; }
.ant-pagination-next { margin-left: 20px !important; }

.ant-pagination-prev,
.ant-pagination-next {
  & > * {
    background-color: $primary !important;
    color: $white !important;
  }
}

.ant-pagination-item {
  background-color: $primary !important;
  border: none !important;
  
  & > a {
    color: $white !important;
  }
  
  &.ant-pagination-item-active {
    background-color: lighten($primary, 30%) !important;
  }
}

.ant-list-item {
  &.list-item {
    background-color: $white !important;
    transition: 0.3s all ease;
    
    &:hover {
      background-color: lighten($secondary, 90%) !important;
      transition: 0.3s all ease;
    }

    & > * {
      justify-content: space-between;
    }
  }
}

dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 14px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  
  dt {
    color: lighten($primary, 30%) !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9pt;
    margin-right: 1.5em;
  }

  dd {
    color: lighten(#000, 20%) !important;
    margin: 0;
  }
}