.fullpage {
  height: 100vh;
}

.content-body {
  display: flex;
  justify-content: center;
  
  & > * {
    width: 95%;
    margin: auto;
  }
}

.container {
  margin: auto;

  &.medium {
    width: 90%;
  }
}

