h1 {
  &.super {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

p {
  &.subtitle {
    font-size: 20px;
    width: 85%;
  }
}

h4 {
  font-weight: bold !important;
  text-transform: uppercase;
  margin-left: 1em;
  color: lighten($secondary, 80%) !important;
}