@font-face {
  font-family: "Arial";
  src: url("arial/arial.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("arial/arialbd.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("arial/arialbi.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url("arial/ariali.ttf");
  font-weight: normal;
  font-style: italic;
}