/**
 * Require *.styl files here.
 */
.fullpage {
  height: 100vh;
}
.content-body {
  display: flex;
  justify-content: center;
}
.content-body > * {
  width: 95%;
  margin: auto;
}
.container {
  margin: auto;
}
.container.medium {
  width: 90%;
}
.center {
  text-align: center;
}
.pagination {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  color: #fff;
}
.gridTiles > * {
  margin-bottom: 16px;
}
.ant-pagination-prev {
  margin-right: 28px !important;
}
.ant-pagination-next {
  margin-left: 20px !important;
}
.ant-pagination-prev > *,
.ant-pagination-next > * {
  background-color: #483440 !important;
  color: #fff !important;
}
.ant-pagination-item {
  background-color: #483440 !important;
  border: none !important;
}
.ant-pagination-item > a {
  color: #fff !important;
}
.ant-pagination-item.ant-pagination-item-active {
  background-color: #8b657c !important;
}
.ant-list-item.faculty-item {
  background-color: #fff !important;
}
.ant-list-item.faculty-item > * {
  justify-content: space-between;
}
.background.primary {
  background-color: #483440;
}
.background.primary.overlay {
  background-color: rgba(72,52,64,0.8);
}
.background.secondary {
  background-color: #1d161e;
}
.background.clear {
  background-color: #fff;
}
.background.clear * {
  color: #262626;
}
.text.primary {
  color: #483440;
}
.text.secondary {
  color: #1d161e;
}
.text.meta {
  color: #836488;
}
.text.meta-2 {
  color: #b3b3b3;
}
.text.normal {
  color: #4d4d4d;
}
.text.white {
  color: #fff;
}
.dark-mode {
  background-color: #483440;
}
.dark-mode * {
  color: #efe9ec;
}
.text.white .ant-list-empty-text {
  color: #c2b0c5;
}
.set-cursor.pointer {
  cursor: pointer;
}
h1.super {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 0px;
}
p.subtitle {
  font-size: 20px;
  width: 85%;
}
img.crop {
  object-fit: cover;
}
.profileIcon {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 1px solid #d7c7d0;
  padding: 3px;
  margin: auto;
}
.profileIcon > * {
  height: 112px;
  width: 112px;
  border-radius: 50%;
}
.profileIcon > img {
  object-fit: cover;
}
.profileIcon:hover > .overlay {
  display: flex;
}
.profileIcon > .overlay {
  position: absolute;
  top: 3;
  left: 3;
  background-color: rgba(72,52,64,0.7);
  justify-content: center;
  align-items: center;
  display: none;
}
.ant-card-meta-title {
  margin-bottom: 0 !important;
}
.ant-steps-item-finish .ant-steps-item-title {
  color: #fff !important;
}
.ant-steps-item-process .ant-steps-item-title {
  color: #fff !important;
}
.ant-steps-item-wait .ant-steps-item-title {
  color: #805c72 !important;
}
.ant-table-thead .span {
  color: #483440 !important;
}
