/**
 * Require *.styl files here.
 */
.fullpage {
  height: 100vh;
}
.content-body {
  display: flex;
  justify-content: center;
}
.content-body > * {
  width: 95%;
  margin: auto;
}
.background.primary {
  background-color: #483440;
}
.background.secondary {
  background-color: #1d161e;
}
.dark-mode {
  background-color: #483440;
}
.dark-mode * {
  color: #efe9ec;
}
